/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 18, 2025, 11:38:29 AM
    Author     : rainndev
*/

.chart-bar {
    -fx-bar-fill: #ef3e4c;
}

.axis-label {
    -fx-text-fill: #222222;
    -fx-font-size: 14px;
}

.chart-title {
    -fx-text-fill: #ef3e4c;      
    -fx-font-size: 13px;  
    -fx-font-weigth: bold;
}
