/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 18, 2025, 2:03:36 PM
    Author     : rainndev
*/

.default-color0.chart-pie{
    -fx-pie-color: #ef3a4c;
}

.default-color1.chart-pie{
    -fx-pie-color: #f58893;
}

.default-color2.chart-pie{
    -fx-pie-color: #fac3c9;
}

.default-color3.chart-pie{
    -fx-pie-color: #fdebed;
}